*,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    body {
        margin: 0;
        line-height: 1.6;
    }

    :root {
        --color-primary: #50dd8b;
        --color-secondary: #dd505b;
    }