*,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    body {
        margin: 0;
        line-height: 1.6;
        font-family: 'Montserrat', sans-serif;
    }

    :root {
        --color-primary: #dd505b;
    }